@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.play-button_icon {
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.25);
}

.background-box_bgimage {
  padding: 0 10px;
  filter: drop-shadow(-13px 10px 10px rgba(0, 0, 0, 0.19));
}
.custom-style-bgimage {
  height: 170px;
  clip-path: polygon(
    0px 16.3657px,
    0px 16.3657px,
    0.26610752px 13.433162687px,
    1.03068496px 10.691607096px,
    2.24311464px 8.182853749px,
    3.85277888px 5.948723168px,
    5.80906px 4.031035875px,
    8.06134032px 2.471612392px,
    10.55900216px 1.312273241px,
    13.25142784px 0.594838944px,
    16.08799968px 0.361130023px,
    19.0181px 0.652967px,
    calc(100% - 12.982px) 71.9141px,
    calc(100% - 12.982px) 71.9141px,
    calc(100% - 10.787499px) 72.4985867px,
    calc(100% - 8.7384319999999px) 73.3674056px,
    calc(100% - 6.854953px) 74.4961649px,
    calc(100% - 5.1572159999999px) 75.8604728px,
    calc(100% - 3.665375px) 77.4359375px,
    calc(100% - 2.399584px) 79.1981672px,
    calc(100% - 1.379997px) 81.1227701px,
    calc(100% - 0.62676799999997px) 83.1853544px,
    calc(100% - 0.16005099999995px) 85.3615283px,
    calc(100% - 5.6843418860808e-14px) 87.6269px,
    calc(100% - 0px) calc(100% - 16px),
    calc(100% - 0px) calc(100% - 16px),
    calc(100% - 0.20940099999996px) calc(100% - 13.404609px),
    calc(100% - 0.8156479999999px) calc(100% - 10.942592px),
    calc(100% - 1.785807px) calc(100% - 8.646883px),
    calc(100% - 3.086944px) calc(100% - 6.550416px),
    calc(100% - 4.686125px) calc(100% - 4.686125px),
    calc(100% - 6.550416px) calc(100% - 3.086944px),
    calc(100% - 8.646883px) calc(100% - 1.785807px),
    calc(100% - 10.942592px) calc(100% - 0.81564800000001px),
    calc(100% - 13.404609px) calc(100% - 0.20940100000001px),
    calc(100% - 16px) calc(100% - 5.6843418860808e-14px),
    16px calc(100% - 0px),
    16px calc(100% - 0px),
    13.40471835px calc(100% - 0.20940099999996px),
    10.9427648px calc(100% - 0.81564799999995px),
    8.64708145px calc(100% - 1.785807px),
    6.5506104px calc(100% - 3.086944px),
    4.68629375px calc(100% - 4.686125px),
    3.0870736px calc(100% - 6.550416px),
    1.78589205px calc(100% - 8.646883px),
    0.8156912px calc(100% - 10.942592px),
    0.20941315px calc(100% - 13.404609px),
    2.6488901491432e-31px calc(100% - 16px),
    0px 16.3657px
  );
}
